<div class="row">
  <div class="column">
    <h1 style="text-align: center;">
      S&P Aristocrat Picks Ranked By Current Return
    </h1>
    <h5 style="text-align: center;">
      <em>Last updated <%= Quote.all.sample.updated_at %> </em>
    </h5>
  </div>
</div>
<div class="row">
  <div class="column">
    <table>
      <thead>
        <th>
          <h4>Rank</h4>
        </th>
        <th>
          <h4>Symbol</h4>
        </th>
        <th>
          <h4>Current Dividend Yield</h4>
        </th>
        <th>
          <h4>Change since yesterday</h4>
        </th>
        <th>
          <h4>Best Yield Since November 7, 2016</h4>
        </th>
      </thead>
      <tbody>
        <% rank_counter = 1 %>
        <% checked = false %>
        <% @quotes.each do |quote| %>
          <% if quote.best_rate < 1.51 && checked == false %>
            <tr>
              <td colspan="5" style="text-align: center; background-color:red;"><h4><strong>INFLATION CUTOFF POINT</strong></h4></td>
            </tr>
            <% checked = true %>
          <% end %>
          <tr>
            <td>
              <strong><%= rank_counter %></strong>
              <% rank_counter += 1 %>
            </td>
            <td>
              <strong><%= link_to quote.symbol, "https://www.google.com/finance?q=#{quote.symbol}" %></strong>
            </td>
            <td>
              <strong><%= quote.idealness %>%</strong>
            </td>
            <td>
              <% if quote.day_change.to_s.to_f < 0.0 %>
                <strong style="color:red;"><%= quote.day_change %>%</strong>
              <% else %>
                <strong style="color:green;">+<%= quote.day_change %>%</strong>
              <% end %>
            </td>
            <td>
              <strong><%= quote.best_rate %>%</strong>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
